<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="true" thread-count="5" name="D:/ITI/Automation/Projects/FrameworkDesign">
        <classes>
            <class name="tests.OrangeHRMLoginAndLogoutTest"/>
        </classes>
    </test>
</suite>